{% extends 'base.html' %}

{% block content %}
<h2>Never ending feed</h2>
<div width="400px"><p id="demo"></p></div>

<script>
function loadNew() {
	if ($(window).scrollTop() + window.innerHeight > $(document).height() - 100) {
		loadDoc();
	}
}
function loadDoc() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      var e = document.getElementById("demo");
      e.innerHTML = e.innerHTML + this.responseText;
      //var newE = document.createElement("p");
      //newE.innerHTML = this.responseText;
      //e.parentNode.insertBefore(newE,e);
    }
  };
  xhttp.onload = loadNew;
  xhttp.open("GET", "ajaxblock", true);
  xhttp.send();
  console.log($(window).scrollTop() + " wh" + window.innerHeight + " dh" + $(document).height());
}
$(document).ready(loadNew);
$(window).scroll(loadNew);
</script>
{% endblock %}