{% extends 'base.html' %}

{% block content %}
	<h2>Conor Stuart Roe</h2>
	<p><img class="circle" src="{% static 'img/conor.jpg' %}" style="width:20vh; height:20vh;"/></p>
	<hr/>
	<p>
		I'm a student graduating in May 2020 from Haverford College with a BS in
		<b>linguistics</b> and <b>computer science</b> and a minor in <b>mathematics</b>.
		My current roles include
		<a href="https://www.kyrium.io/meet-the-team">Lead Developer at The Kyrium Group</a>
		and a fellow in the
		<a href="https://www.haverford.edu/library/digital-scholarship">Haverford Digital Scholarship Department</a>.
	</p>

    <p>
		With Kyrium my main project is as technical lead for <a href="https://www.myfleetsheets.com/">Fleet Sheets</a>,
		an email aggregation service for private aviation sales. At Haverford's Digital Scholarship I mainly contribute
		to <a href="https://ticha.haverford.edu">Ticha</a>, an online archive of primary sources and research materials
		for the Colonial Valley Zapotec language.
	</p>

	<p>
		I just finished a summer internship doing data analytics with
		<a href="https://www.propublica.org/">ProPublica's</a>
		audience team, where I built a Slackbot capable of aggregating content and audience data and building
		sophisticated charts and graphics in real time.
	</p>

	<p>
		I have a variety of academic interests which fuse mathematics, computer science, and linguistics,
		including <b>cryptography and network security</b> and machine learning-based approaches to
		<b>language technology</b>. My professional experience has mainly focused on <b>midtier web development</b> and
		<b>data pipelining and analysis</b>.
	</p>

        <p>
                In 2015 I finished 3rd in the <a href="https://nacloweb.org/">North American Computational Linguistics Olympiad</a>
                and <a href="https://www.ioling.org/results/2015/">10th in the International Linguistics Olympiad</a>.
        </p>

    <p>
		Check out <a href="/static/pdf/resume.pdf">my resume</a> for more detailed information about my skills!
	</p>
{% endblock %}
