{% extends 'base.html' %}

{% block content %}
<div ng-app="negabinary" ng-controller="myCtrl">
    <h1 style="padding: 0 0 1em 0;">The Negabinarator</h1>
	<div class="container">
		<div class="row">
			<div class="col-12">
	  			<textarea ng-model="stuff" style="width:100%; height:40vh;"></textarea>
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<button style="width: 100%; height: 15vh;" ng-click="bitshift(1)">Bitshift Left</button>
			</div>
			<div class="col-4">
				<button style="width: 100%; height: 15vh;" ng-click="swap()" ng-bind="swapname"></button>
			</div>
			<div class="col-4">
				<button style="width: 100%; height: 15vh;" ng-click="bitshift(-1)">Bitshift Right</button>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
	  			<p id="output" ng-bind="transform(stuff)" style="word-break: break-all;"></p>
  			</div>
		</div>
	</div></div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script>
	var app = angular.module('negabinary', []);

	app.controller('myCtrl', function($scope) {
		$scope.stuff = "Type your message here";
		$scope.encoding = true;
		$scope.swapname = "Switch to decoding";

		$scope.codings = {" ":"00000","a":"00001","b":"00110","c":"00111","d":"00100","e":"00101","f":"11010","g":"11011","h":"11000",
						  "i":"11001","j":"11110","k":"11111","l":"11100","m":"11101","n":"10010","o":"10011","p":"10000","q":"10001",
						  "r":"10110","s":"10111","t":"10100","u":"10101","v":"01010","w":"01011","x":"01000","y":"01001","z":"01110",
						  ".":"01111",",":"01100","?":"01101","!":"00010","'":"00011"}
		$scope.decodings = Object.keys($scope.codings).reduce(function(obj,key){
			obj[ $scope.codings[key] ] = key;
			return obj;
		},{});

		$scope.encode = function(plain){
			plain = plain.normalize('NFD').replace(/[\u0300-\u036f]/g, "").toLowerCase();
			var code = "";
			for (var i = 0; i < plain.length; i++) {
				code += $scope.codings[plain.charAt(i)] || "";
			}
			return code;
		};
		$scope.decode = function(code){
			var plain = "";
			for (var i = 0; i < (code.length/5); i++) {
				plain += $scope.decodings[code.slice((5*i),(5*i+5))] || "";
			}
			return plain;
		};

	    $scope.transform = $scope.encode;
	    $scope.swap = function() {
	    	$scope.stuff = $scope.transform($scope.stuff);
	    	if($scope.encoding){
	    		$scope.encoding = false;
	    		$scope.transform = $scope.decode;
				$scope.swapname = "Switch to encoding";
	    	}
	    	else {
	    		$scope.encoding = true;
	    		$scope.transform = $scope.encode;
				$scope.swapname = "Switch to decoding";
	    	}
	    };

	    $scope.bitshift = function(dir){
	    	if($scope.encoding) {
	    		var code = $scope.encode($scope.stuff);
	    		code = $scope.shift(code,dir);
	    		$scope.stuff = $scope.decode(code);
	    	}
	    	else {
	    		$scope.stuff = $scope.shift($scope.stuff,dir);
	    	}
	    };

	    $scope.shift = function(str,dir){
	    	if (dir == -1) {
	    		return str.slice(-1) + str.slice(0,-1);
	    	}
	    	else if (dir == 1) {
	    		return str.slice(1) + str.slice(0,1)
	    	}
	    };
	});
</script>
{% endblock %}
