@font-face {
    font-family: "Gentium";
    src: url("/static/font/GentiumPlus-R.ttf") format('truetype'),
    	url("/static/font/GentiumPlus-R.svg") format('svg');
    font-weight: normal;
}

body {
  background-color: #222;
  min-height: 100vh;
}

div {
  text-align: center;
}

h1, h2, h3, p, button {
  text-align: center;
  font-family: "Gentium";
}

h1 {
  color: #7800bd;
  font-size: 4.5vh;
  padding-bottom: 4vh;
  font-variant: small-caps;
}

h2 {
  color: #c70000;
  font-size: 3.5vh;
  padding-bottom: 3vh;
}

p {
  color: white;
  font-size: 1.5vh;
}

#top-menu {
  margin-bottom: 10vh;
}

#top-menu a {
  color: white;
  font-family: "Gentium";
}

.big-select {
  padding: 3vh 0;
  width: 100%;
  background-color: transparent;
  color: #c70000;
  font-size: 3.5vh;
  font-variant: small-caps;
  border-radius: 2vh;
  border: 2px solid #7800bd;
  display: inline-block;
}

.big-select:hover {
  background-color: white;
  border-color: white;
  cursor: pointer;
}