@font-face {
    font-family: "Gentium";
    src: url("/static/font/GentiumPlus-R.ttf") format('truetype'),
    	url("/static/font/GentiumPlus-R.svg") format('svg');
    font-weight: normal;
}

body{
	text-align: center;
}

.fa{
	font-size: 80% !important;
}

#current{
	font-family: "Gentium";
	font-size: 6em;
	font-weight: 600;
	color: #ddddcc;
}

.season-wrapper{
	padding: 1em;
	background-color: #222218;
}

.season{
	width: 100%;
	border-radius: 2em;
	display: inline-block;
	text-align: center;
	padding: 1em;
}

.season h2{
	font-family: "Gentium";
	font-size: 2em;
	font-weight: 600;
	margin: .25em;
}

.activeSeason{
	background-color: #000099 !important;
}

.month{
	display: inline-block;
}

.month tr th div{
	display: inline-block;
	height: 3em;
	width: 3em;
	border-radius: 1em;
	text-align: center;
	margin: 2px;
	display: table;
}

.month tr th div p{
	font-size: 2em;
	font-family: "Gentium";
	margin: 0em;
	margin-top: .25em;
}

.weekend{
	background-color: #ddddcc;
}

.weekend p{
	color: #222218;
}

.weekday{
	background-color: #222218;
}

.weekday p{
	color: #ddddcc;
}

#new-year{
	background-color: #ddddcc;
	color: #222218;
	display: none;
}

#spring{
	background-color: #00cc66;
	color: #222218;
}

#summer{
	background-color: #ffff99;
	color: #222218;
}

#autumn{
	background-color: #993300;
	color: #ddddcc;
}

#winter{
	background-color: #333344;
	color: #ddddcc;
}