@font-face {
    font-family: "Lauvinko Bubble";
    src: url("/static/font/lauvinko-bubble.ttf") format('truetype'),
    	url("/static/font/lauvinko-bubble.svg") format('svg');
    font-weight: normal;
}

@font-face {
    font-family: "Josephin Sans";
    src: url("/static/font/JosefinSans-Regular.ttf") format('truetype'),
    	url("/static/font/JosefinSans-Regular.svg") format('svg');
    font-weight: normal;
}

* {
  transition: .5s ease;
}

body {
  background-color: black;
}

h1, h2, h3, h4, p, textarea, li {
  color: white;
}

::-webkit-scrollbar {
    display: none;
}

#header, #header a {
    text-align: center;
    line-height: 10vh;
    font-family: "Lauvinko Bubble";
    color: #a9f;
    font-size: 4vh;
}

#header a {
  text-decoration: none;
}

#mdin, #mdfill, .entrylink {
  border: solid 5px white;
  border-radius: 10px;
  padding: 15px;
  background-color: black;
}

@media (max-width: 992px) {
  #mdfill {
    height: 70vh;
  }

  #mdin, #mdfill.col-md-6 {
    height: 35vh;
  }

  #mdin-parent {
    padding: 1vh 0;
  }
}

@media (min-width: 992px) {
  #mdin, #mdfill {
    height: 80vh;
  }
}

#mdin-parent, #mdfill {
  float: right;
}

#mdin {
  width: 100%;
  font-family: "Josephin Sans";
  font-size: 2.5vh;
}

#mdfill, .entrylink {
  font-family: "Lauvinko Bubble";
  overflow-wrap: break-word;
  overflow-y: scroll;
}

#mdin:focus, #mdfill:hover, .entrylink:hover {
  outline: none;
  border: solid 5px #a9f;
  transition: 0s;
}

.entrylink:hover {
  background-image: url('/static/img/space.jpg');
}

#mdin:focus, #mdfill:hover *, .entrylink:hover > * {
  color: #a9f;
  transition: 0s;
}

#mdfill:hover hr {
  border-color: #a9f;
  transition: 0s;
}

.invisible {
  display: none;
}

.entrylink {
  text-align: center;
  font-size: 2.5vh;
  margin: .5em 0;
}

.entrylink p {
  margin: 0;
}

#mdfill p, #mdfill ul li {
  font-size: 1.75vh;
  line-height: 2;
}

#mdfill h2 {
  text-decoration: underline;
  font-size: 4vh;
  line-height: 1.5;
}

#mdfill h3 {
  font-size: 3.25vh;
  line-height: 1.5;
}

#mdfill h4 {
  font-style: italic;
  font-size: 2.5vh;
  line-height: 1.5;
}

#mdfill h2, #mdfill h3, #mdfill h4 {
  text-align: center;
  padding-bottom: .25em;
}
