@font-face {
    font-family: "Lauvinko Bubble";
    src: url("/static/font/lauvinko-bubble.ttf") format('truetype'),
    	url("/static/font/lauvinko-bubble.svg") format('svg');
    font-weight: normal;
}

@font-face {
    font-family: "Josephin Sans";
    src: url("/static/font/JosefinSans-Regular.ttf") format('truetype'),
    	url("/static/font/JosefinSans-Regular.svg") format('svg');
    font-weight: normal;
}

* {
  transition: .5s ease;
}

body {
  background-color: #222;
}

h1, h2, h3, h4, p, textarea {
  color: white;
}

::-webkit-scrollbar {
    display: none;
}

#header, #header a {
    text-align: center;
    line-height: 10vh;
    font-family: "Lauvinko Bubble";
    color: #a9f;
}

#mdin, #mdfill, .entrylink {
  border: solid 5px white;
  border-radius: 10px;
  padding: 15px;
}

#mdin, #mdfill {
  height: 80vh;
}

#mdin {
  background-color: transparent;
  width: 100%;
  font-family: "Josephin Sans";
  font-size: 1.5em;
}

#mdfill, .entrylink {
  font-family: "Lauvinko Bubble";
  overflow-wrap: break-word;
  overflow-y: scroll;
}

#mdin:focus, #mdfill:hover, .entrylink:hover {
  outline: none;
  border: solid 5px #a9f;
  transition: 0s;
}

#mdin:focus, #mdfill:hover > *, .entrylink:hover > * {
  color: #a9f;
  transition: 0s;
}

#mdfill:hover hr {
  border-color: #a9f;
  transition: 0s;
}

.invisible {
  display: none;
}

.entrylink {
  text-align: center;
  font-size: 1.5em;
  margin: .5em;
}

#mdfill h2 {
  text-decoration: underline;
}

#mdfill h4 {
  font-style: italic;
}

#mdfill h2, #mdfill h3, #mdfill h4 {
  text-align: center;
  padding-bottom: .25em;
}