::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #f0f0f0;
    border-radius: 5px;
}

body {
	background-color: white;
	text-align: center;
}

h1, h2, h3 {
	text-align: center;
	font-family: "Gentium";
	color: #6E9548;
	padding: 0;
}

h1 {
	padding: 0em 3em;
	font-size: 5vh;
	color: #9B768D;
	font-variant: small-caps;
}

h2 {
	font-size: 3.5vh;
	margin: .5em;
}

button:focus {outline:0;}

p, button {
	font-family: "Gentium";
	line-height: 1.5;
	font-size: 2.3vh;
	text-align: justify;
}

p, button {
	color: #303438;
	padding: 0;
	padding-bottom: 2vh;
	margin: 1em;	
}

textarea {
	background-color: #303438;
	color: #E1E6D4;
}

button {
	margin: 1em 0;
	line-height: 1;
	border-radius: 1em; 
	padding: 3vw;
}

p a {
	color: #9B768D;
	border: 1px solid white;
	border-radius: 5px;
}

p a:hover {
	background-color: #8fc78f;
	border-color: black;
    color: white;
    text-decoration: none;
}

.container {
	width: auto;
}

#mainframe {
	text-align: center;
	padding: 10vh 0;
}
