@font-face {
    font-family: "Gentium";
    src: url("/static/font/GentiumPlus-R.ttf") format('truetype'),
    	url("/static/font/GentiumPlus-R.svg") format('svg');
    font-weight: normal;
}

@font-face {
    font-family: "Lauvinko Smooth Serif";
    src: url("/static/font/Lauvinko-Smooth-Serif.ttf") format('truetype'),
    	url("/static/font/Lauvinko-Smooth-Serif.svg") format('svg');
    font-weight: normal;
}

@font-face {
    font-family: "Lauvinko Bubble";
    src: url("/static/font/lauvinko-bubble.ttf") format('truetype'),
    	url("/static/font/lauvinko-bubble.svg") format('svg');
    font-weight: normal;
}

* {
	transition-duration: .3s;
	transition-timing-function: ease;
}

h1, h2, h3, p, li, td, th {
	font-family: "Gentium";
}

h1, h2 {
	text-align: center;
}

h1 {
	font-size: 4vh;
}

h2 {
	font-size: 3.25vh;
	margin: 15px 0;
}

h3, li, td, th {
	font-size: 2.5vh;
	margin: 10px 0;
}

p {
	font-size: 2.25vh;
	text-align: justify;
	padding: 1em;
	margin: 0;
}

a, a:hover {
	color: #007f00;
	text-decoration: none;
}

a:not([href]) {
    cursor: pointer;
}

.lauvinko {
	font-family: "Lauvinko Bubble";
	font-size: 4vh;
}

div.scroll {
	overflow: scroll;
	border-style: solid;
	border-width: 2px;
	border-color: #f0f0f0;
}

p.go-up {
	margin: 3em;
	text-align: center;
}

div.go-down div {
	border-style: solid;
	border-width: 2px;
	border-color: #f0f0f0;
	border-radius: 20px;
	height: 20vh;
	display: table;
	text-align: center;
	margin: 2em;
	padding: 1em;
	width: 100%;
}

div.go-down div h3 {
	display: table-cell;
	vertical-align: middle;
}

div.go-down div h3 {
	font-weight: 900;
}

ul {
	list-style-type: none;
	padding: 0 2em;
	text-align: left;
}

li, td, th {
	margin: 0;
	padding: 10px;
	border-radius: 15px;
	border-style: solid;
	border-width: 2px;
	border-color: transparent;
}

div.go-down div:hover, a:hover li {
	background-color: #8fc78f;
	border-color: black;
}

div.go-down div:hover h3, a:hover li {
    color: white;
	font-weight: 900;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #f0f0f0; 
    border-radius: 5px;
}

#mainframe {
	align-items: center;
	text-align: center;
}

img { 
	display: inline-block; 
}

.entry > * {
	text-align: left;
}

th, td {
	border-color: #f0f0f0;
}

td {
	text-align: center;	
}

thead {
	text-decoration: underline;
}

.notshown tbody {
	display: none;
}

table.boldfirst td:first-child {
	font-weight: bold;
}

table.inline {
	margin: 1em 2em;
}

table.gloss {
	margin: 0 2em;
}

table.gloss td {
	border: none;
	padding: 5px;
	text-align: left;
}
