{% load static %}
<html>
	<head>

		<title>Conor Stuart Roe</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'lander/css/lander.css' %}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
		<link rel="shortcut icon" href="{% static 'lander/img/favicon.ico' %}">
		<meta charset="utf-8">

	</head>

	<body>

		<header id = "navbar"> 
			<div class = "pagelinks" style="float:left;">
				<a href = "/"> <i class="fas fa-home" aria-hidden="true"></i>About me</a>
				<a href="/static/pdf/resume.pdf"><i class="fas fa-briefcase" aria-hidden="true"></i>Resume</a>
				<a href = "/projects"><i class="fas fa-rocket" aria-hidden="true"></i>Projects</a>
			</div>
			<div class = "pagelinks" style="float:right;">
				<a href="http://www.linkedin.com/in/conorstuartroe/">&nbsp;<i class="fab fa-linkedin" aria-hidden="true"></i>&nbsp;</a>
				<a href="http://www.github.com/cstuartroe">&nbsp;<i class="fab fa-github" aria-hidden="true"></i>&nbsp;</a>
				<a href="mailto:conorstuartroe@gmail.com">&nbsp;<i class="fas fa-envelope" aria-hidden="true"></i>&nbsp;</a>
			</div>
		</header>

		<div class="container"><div class="row">
			<div class="col-xs-2"></div>
			<div id="mainframe" class="col-xs-12 col-md-8">
				{% block content %}
				{% endblock %}
			</div>
		</div></div>

		<script>
			$("<i class=\"fas fa-cog\" aria-hidden=\"true\"></i>").insertAfter("hr")
		</script>

		{% block scripts %}
		{% endblock %}

	</body>
</html>