{% extends 'lander/base.html' %}

{% block content %}
	<h2>Conor Stuart Roe</h2>
	<p><img class="circle" src="{% static 'img/conor.jpg' %}" style="width:12em; height:12em;"/></p>
	<hr/>
	<p>I'm a student majoring in <b>linguistics</b> and <b>computer science</b> at Haverford College in Philadelphia, PA, with significant coursework in mathematics.</p>
	<p>I'm currently employed at the Haverford Digital Scholarship Department as a <b>full stack developer</b> for <a href="https://ticha.haverford.edu">Ticha</a>, an online archive of materials and linguistic analysis for the Colonial Valley Zapotec language. I also recently worked as an <b>artificial intelligence developer</b> with <a href="https://ivy.ai">Ivy</a>, a chatbot for higher education administrators, and last year I spent about six months doing research, writing, and quantitative modeling for <a href="https://dynalect.com">Dynalect</a>, a finance blog.</p>
	<p>My primary interest is using statistical and deep learning techniques to model and comprehend the complexity of human social, linguistic, and economic activity, including natural language modeling and understanding, and quantitative market analysis. I am also interested in information theory and cryptography, and in the potential of cryptographic and blockchain technologies to revolutionize currency and finance.</p>
	<h2>what I'm good at:</h2>
	<p>
	<b>python</b><br/>
	(including libraries like NLTK, NumPy, pandas, TensorFlow)<br/>
	<b>data analysis</b><br/>
	(regression, statistical analysis, principal component analysis)<br/>
	<b>discrete math</b><br/>
	(graph theory and networks, combinatorics, number theory, predicate logic)<br/>
	<b>front-end web development</b><br/>
	(HTML, CSS/Bootstrap, JS/JQuery, PHP, WordPress)<br/>
	<b>back-end web development</b><br/>
	(Django, DigitalOcean, Heroku, AWS, SQLite, Nginx)<br/>
	<b>natural language processing</b><br/>
	(corpus management, pre- and post-process, language modeling, digitization)<br/>
	<b>semantic modeling</b><br/>
	(hidden markov modeling, kripke modeling, latent semantic analysis)<br/>
	<b>theoretical and descriptive linguistics</b><br/>
	(phonology, morphosyntax, pragmatics, historical linguistics)<br/>
	<b>foreign language</b><br/>
	(Mandarin HSK4, Dutch B1, Spanish, Russian, Turkish ~A2)<br/>
	<b>neural networks</b><br/>
	(feed-forward, recurrent, long short-term)<br/>
	<b>information theory</b><br/>
	(cryptography, entropy modeling, data compression)</p>
{% endblock %}