{% extends 'lander/base.html' %}

{% block content %}
	<h2>Conor Stuart Roe</h2>
	<p><img class="circle" src="{% static 'img/conor.jpg' %}" style="width:12em; height:12em;"/></p>
	<hr/>
	<p>I'm a student majoring in <b>linguistics</b> and <b>computer science</b> at Haverford College in Philadelphia, PA, with a minor in <b>mathematics</b>.</p>

	<p>My current roles include <a href="https://www.kyrium.io/meet-the-team#yui_3_17_2_1_1552487979643_111">CTO and Lead Developer at The Kyrium Group</a> and a fellow in the <a href="https://www.haverford.edu/library/digital-scholarship">Haverford Digital Scholarship Department</a>. With Kyrium my main project is as technical lead for <a href="https://www.myfleetsheets.com/">Fleet Sheets</a>, an email aggregation service for private aviation sales. At Haverford's Digital Scholarship I mainly contribute to <a href="https://ticha.haverford.edu">Ticha</a>, an online archive of primary sources and research materials for the Colonial Valley Zapotec language.</p>

	<p>In the past I've worked as an automated testing engineer for the telephony systems at <a href="https://investor.vanguard.com/home/">Vanguard</a> and a machine learning researcher with <a href="https://ivy.ai">Ivy</a>, a chatbot for higher education administrators.</p>

	<p>I have a variety of academic interests which fuse mathematics, computer science, and linguistics, including <b>cryptography and network security</b> and machine learning-based approaches to <b>language technology</b>. My professional experience has mainly focused on <b>midtier web development</b>, <b>data pipelining</b>, and <b>architecture of web services</b>.</p>

	<h2>what I'm good at:</h2>
	<p>
	<b>python</b><br/>
	(including libraries like NLTK, NumPy, pandas, TensorFlow)<br/><br/>
	<b>data analysis</b><br/>
	(R, probability and statistics, machine learning approaches)<br/>
	<b>neural networks</b><br/>
	(feed-forward, recurrent, long short-term)<br/>
	<b>natural language processing</b><br/>
	(corpus management, rule-based lemmatization, language modeling, document digitization)<br/>
	<b>semantic modeling</b><br/>
	(kripke modeling, latent semantic analysis)<br/><br/>
	<b>discrete math</b><br/>
	(graph theory and networks, combinatorics, number theory, predicate logic)<br/>
	<b>information theory</b><br/>
	(cryptography, entropy modeling, data compression)<br/>
	<b>cryptography and security</b><br/>
	(public-key crypto, handshaking and encryption, network analysis)<br/><br/>
	<b>web development</b><br/>
	(with Django, MEAN, some PHP)<br/>
	<b>web architecture</b><br/>
	(AWS, DigitalOcean, DNS, HTTPS cert, Nginx)<br/><br/>
	<b>foreign language</b><br/>
	(Mandarin HSK4, Dutch B1, Spanish, Russian, Turkish)<br/>
{% endblock %}