<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sonbuk, {{year}}-{{month}}-{{day}}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/journal.css' %}">
    <link rel="shortcut icon" href="{% static 'img/book.ico' %}">
</head>
<body style="background-image: url('/static/img/space.jpg');">
    <h2 id="header">{{year}}.{{month}}.{{day}} | <a href="/journal">bu</a></h2>
    <div class="container">
        <div class="row">
            <div id="mdfill" class="col-xs-12 {% if today %}col-md-6{% endif %}">
            </div>

            <div id="mdin-parent" class="col-xs-12 col-md-6 {% if not today %}invisible{% endif %}">
                <textarea id="mdin" wrap="hard" autocomplete="off" autocapitalize="off" spellcheck="false"></textarea>
            </div>
        </div>
    </div>
    <script>
        var inits = ['m', 'n', 'p', 't', 'c', 'k', 'b', 'd', 'j', 'g', 's', 'x', 'h', 'w', 'l', 'y', "'"];
        var vowels = ["a", "e", "i", "o", "u"];
        var finals = ["n", "k", "s", "i", "o"];

        function update_mdfill() {
            $("#mdfill").empty();
            var lines = $("#mdin").val().split("\n");
            var curr_elem = null, curr_ul = null;

            lines.forEach(function(line) {
                if (line == "") {
                    curr_elem = null;
                    curr_ul = null;
                }

                else if (line == "---") {
                    curr_elem = null;
                    $("#mdfill").append($(document.createElement('hr')));
                }

                else {
                    if (line.startsWith("# ")) {
                        curr_elem = $(document.createElement('h2'));
                        $("#mdfill").append(curr_elem);
                        line = line.substring(2);
                    }

                    else if (line.startsWith("## ")) {
                        curr_elem = $(document.createElement('h3'));
                        $("#mdfill").append(curr_elem);
                        line = line.substring(3);
                    }

                    else if (line.startsWith("### ")) {
                        curr_elem = $(document.createElement('h4'));
                        $("#mdfill").append(curr_elem);
                        line = line.substring(4);
                    }

                    else if (line.startsWith("* ")) {
                        if (curr_ul == null) {
                            curr_ul = $(document.createElement('ul'));
                            $("#mdfill").append(curr_ul);
                        }
                        curr_elem = $(document.createElement('li'));
                        curr_ul.append(curr_elem);
                        line = line.substring(2);
                    }

                    else if (curr_elem == null) {
                        curr_elem = $(document.createElement('p'));
                        $("#mdfill").append(curr_elem);
                    }

                    curr_elem.text(
                        curr_elem.text() + to_palawai_line(line)
                    );
                }
            });
        }

        function to_palawai_line(text) {
            var out = "", i = 0, new_word = true, pnoun = false, syll;

            while (i < text.length) {
                syll = ['', '', ''];

                if (new_word) {
                    new_word = false;
                    if (text.charAt(i) != text.charAt(i).toLowerCase()) {
                        if (!pnoun) {
                            pnoun = true;
                            out += '" ';
                            text = text.substr(0, i) + text.charAt(i).toLowerCase() + text.substr(i+1);
                        }
                    } else if (pnoun) {
                        pnoun = false;
                        out += "' ";
                    }
                }

                if (inits.includes(text.charAt(i))) {
                    syll[0] = text.charAt(i);
                    i++;
                }

                if (vowels.includes(text.charAt(i))) {
                    syll[1] = text.charAt(i);
                    i++;
                }

                else {
                    out += syll[0];
                    if (text.charAt(i) == " ") {
                        new_word = true;
                    } else {
                        out += text.charAt(i) + " ";
                    }
                    i++;
                    continue;
                }

                if (finals.includes(text.charAt(i)) &&
                    !vowels.includes(text.charAt(i+1))) {
                    if (!"io".includes(text.charAt(i)) || syll[1] == "a") {
                        syll[2] = text.charAt(i);
                        i++;
                    }
                }

                out += to_palawai_syll(syll);
            }

            if (pnoun) {
                out += "'";
            }

            return out;
        }

        var final_chars = {
            '': '',
            'n': 'M',
            'k': 'K',
            's': 'S'
        }

        function to_palawai_syll(syll) {
            var out;

            if (['', "'"].includes(syll[0])) {
                if (syll[2] == 'i') {
                    if (syll[1] == 'a') {
                        out = 'Y';
                    } else {
                        out = syll.join('');
                    }
                }

                else if (syll[2] == 'o') {
                    if (syll[1] == 'a') {
                        out = 'W';
                    } else {
                        out = syll.join('');
                    }
                }

                else {
                    out = syll[1].toUpperCase() + final_chars[syll[2]];
                }
            }

            else {
                if (syll[2] == 'i') {
                    if (syll[1] == 'a') {
                        out = 'e' + syll[0] + 'i';
                    } else {
                        out = syll.join('');
                    }
                }

                else if (syll[2] == 'o') {
                    if (syll[1] == 'a') {
                        out = 'e' + syll[0] + 'io';
                    } else {
                        out = syll.join('');
                    }
                }

                else {
                    if (syll[1] == 'e') {
                        out = 'e' + syll[0] + final_chars[syll[2]];
                    }

                    else if (syll[1] == 'o') {
                        out = 'e' + syll[0] + 'o' + final_chars[syll[2]];
                    }

                    else {
                        out = syll[0] + syll[1] + final_chars[syll[2]];
                    }
                }

                if ("mtkxhly".includes(syll[0])) {
                    out = out.replace("i", "X").replace("u", "Z");
                }
            }

            return out + " ";
        }

        function mdin_changed() {
            update_mdfill();
            var xhttp = new XMLHttpRequest(), data = new FormData();
            xhttp.open("POST", "/journal/md/{{year}}{{month}}{{day}}", true);
            data.append("md", $("#mdin").val());
            data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            xhttp.send(data);
        }

        $("#mdin").on('input propertychange paste', mdin_changed);

        {% if today %}
        function toggleview() {
            $("#mdfill").toggleClass("col-md-6");
            $("#mdin-parent").toggleClass("invisible");
        }

        $("#mdfill").on('click', toggleview);
        {% endif %}

        function get_md() {
            var xhttp = new XMLHttpRequest(), data = new FormData();
            xhttp.open("GET", "/journal/md/{{year}}{{month}}{{day}}", true);
            xhttp.onreadystatechange = function() {
                $("#mdin").text(this.responseText);
                update_mdfill();
            };
            xhttp.send();
        }

        $(document).ready(function() {
            setInterval(get_md, 200);
        });
    </script>
</body>
</html>