{% extends 'lander/base.html' %}

{% block content %}
<div ng-app="negaternary" ng-controller="myCtrl">
    <h1 style="padding: 0 0 1em 0;">The Negaternarizer</h1>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
	  			<textarea ng-model="stuff" style="width:100%; height:40vh;"></textarea>
			</div>
		</div>
		<div class="row-eq-height">
			<div class="col-xs-4">
				<button style="width: 100%; height: 15vh;" ng-click="bitshift(1)">Bitshift Left</button>
			</div>
			<div class="col-xs-4">
				<button style="width: 100%; height: 15vh;" ng-click="swap()" ng-bind="swapname"></button>
			</div>
			<div class="col-xs-4">
				<button style="width: 100%; height: 15vh;" ng-click="bitshift(-1)">Bitshift Right</button>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
	  			<p id="output" ng-bind="transform(stuff)" style="word-break: break-all;"></p>
  			</div>
		</div>
		<div class="row"><div class="col-xs-12">
			<h2>How does it work?</h2>

			<p>We've all heard of number systems with different bases - binary is base 2, hexidecimal is base 16, and decimal, our most familiar system, is base 10. Surprisingly, it's also possible to use number systems with <i>negative</i> bases. Negaternary is base -3: the rightmost digit represents 1s (as in all number systems), the next represents -3s, the next represents 9s, then -27s, and so on. It's possible to represent any integer in negaternary with the digits 0, 1, and 2, without the need for negative signs.</p>

			<p>Three digit negaternary numbers cover the range between -6 and 20, and range with 27 elements. This is perfect, the exact number of encodings needed to unambiguously encode 26 letters and space! I encode space as 0, "a" as 1, on up to "t" as 20, then wrap around and encode "u" as -6, on to "z" as -1. You can encode text simply by sending the negaternary digits, or you can perform one or two bitshifts in either direction and take the enciphered letters.</p>

			<p>This is not a cryptographically secure encoder! Don't send state secrets with it! It's just for making you and your friends feel like spies.</p>
		</div></div>
	</div></div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script>
	var app = angular.module('negaternary', []);

	app.controller('myCtrl', function($scope) {
		$scope.stuff = "Type your message here";
		$scope.encoding = true;
		$scope.swapname = "Switch to decoding";

		$scope.codings = {" ":"000","a":"001","b":"002","c":"120","d":"121","e":"122","f":"110","g":"111","h":"112",
						  "i":"100","j":"101","k":"102","l":"220","m":"221","n":"222","o":"210","p":"211","q":"212",
						  "r":"200","s":"201","t":"202","u":"020","v":"021","w":"022","x":"010","y":"011","z":"012"}
		$scope.decodings = Object.keys($scope.codings).reduce(function(obj,key){
			obj[ $scope.codings[key] ] = key;
			return obj;
		},{});

		$scope.encode = function(plain){
			plain = plain.normalize('NFD').replace(/[\u0300-\u036f]/g, "").toLowerCase();
			var code = "";
			for (var i = 0; i < plain.length; i++) {
				code += $scope.codings[plain.charAt(i)] || "";
			}
			return code;
		};
		$scope.decode = function(code){
			var plain = "";
			for (var i = 0; i < (code.length/3); i++) {
				plain += $scope.decodings[code.slice((3*i),(3*i+3))] || "";
			}
			return plain;
		};

	    $scope.transform = $scope.encode;
	    $scope.swap = function() {
	    	$scope.stuff = $scope.transform($scope.stuff);
	    	if($scope.encoding){
	    		$scope.encoding = false;
	    		$scope.transform = $scope.decode;
				$scope.swapname = "Switch to encoding";
	    	}
	    	else {
	    		$scope.encoding = true;
	    		$scope.transform = $scope.encode;
				$scope.swapname = "Switch to decoding";
	    	}
	    };

	    $scope.bitshift = function(dir){
	    	if($scope.encoding) {
	    		var code = $scope.encode($scope.stuff);
	    		code = $scope.shift(code,dir);
	    		$scope.stuff = $scope.decode(code);
	    	}
	    	else {
	    		$scope.stuff = $scope.shift($scope.stuff,dir);
	    	}
	    };

	    $scope.shift = function(str,dir){
	    	if (dir == -1) {
	    		return str.slice(-1) + str.slice(0,-1);
	    	}
	    	else if (dir == 1) {
	    		return str.slice(1) + str.slice(0,1)
	    	}
	    };
	});
</script>
{% endblock %}
