{% extends 'lander/base.html' %}

{% block content %}
	<h1>Personal Stuff</h1>
	<hr/>
	<h2>bio</h2>
	<p>I originally hail from Asheville, NC, USA, a funky little town situated in the heart of Appalachia. I lived there until the age of 16, when I left home for bigger and better things, namely to attend the <a href="https://www.ncssm.edu/">NC School of Science and Mathematics</a>, a residential public magnet high school in Durham, NC.</p>
	<p>After graduating in 2015 I took a year off of school to travel and work, which is when I filled out most of the travel section below, and a handy chunk of the languages. In July 2015 I competed in the <a href="http://ioling.org/">International Olympiad in Linguistics</a>, where I won a silver medal. Since August 2016 I've attended <a href="https://www.haverford.edu/">Haverford College</a>, a very small liberal arts college in Philadelphia.</p>
	<h2>tea or coffee?</h2>
	<p>tea.</p>
	<h2>dogs or cats?</h2>
	<p>dogs. cats are good though.</p>
	<h2>coke or pepsi?</h2>
	<p>ginger ale.</p>
	<h2>music</h2>
	<p>I enjoy music. Here is some of the music I enjoy most (this list is subject to frequent changes):</p>
	<table>
	<tr>
	<th><p><a href = "https://www.youtube.com/watch?v=LDknRxdHNog">The Who</a></p></th>
	<th><p><a href = "https://www.youtube.com/watch?v=m_lR5JkgCnU">Mos Def</a></p></th>
	<th><p><a href = "https://www.youtube.com/watch?v=fTH71AAxXmM">The White Stripes</a></p></th>
	</tr><tr>
	<th><p><a href = "https://www.youtube.com/watch?v=_OTRIp6nxB0">Capital Cities</a></p></th>
	<th><p><a href = "https://www.youtube.com/watch?v=XbGs_qK2PQA">Eminem</a></p></th>
	<th><p><a href = "https://www.youtube.com/watch?v=8YIbnejG8vY">Mac Tyer</a></p></th>
	</tr><tr>
	<th><p><a href = "https://www.youtube.com/watch?v=Ckom3gf57Yw">Metallica</a></p></th>
	<th><p><a href = "https://www.youtube.com/watch?v=J1rJiQ0B5eY">Camelia Jordana</a></p></th>
	<th><p><a href = "https://www.youtube.com/watch?v=pAgnJDJN4VA">AC/DC</a></p></th>
	</tr><tr>
	<th><p><a href = "https://www.youtube.com/watch?v=tMVfAAynx-M">Dizzy Wright</a></p></th>
	<th><p><a href = "https://www.youtube.com/watch?v=OEVpAefIrU0">Rubblebucket</a></p></th>
	<th><p><a href = "https://www.youtube.com/watch?v=HcXNPI-IPPM">Die Antwoord</a></p></th>
	</tr><tr>
	<th><p><a href = "https://www.youtube.com/watch?v=zM39EUa1uQk">Waldeck</a></p></th>
	<th><p><a href = "https://www.youtube.com/watch?v=DVkkYlQNmbc">Chance the Rapper</a></p></th>
	<th><p><a href = "https://www.youtube.com/watch?v=ugkLFwqslp8">The Avett Brothers</a></p></th>
	</tr>
	</table>
	<p>I also play the electric guitar.</p>
	<h2>books</h2>
	<p>Here are a few of my favorite books:</p>
	<p><b>The Life of Pi</b> by Yann Martel</p>
	<p><b>Guns, Germs, and Steel</b> by Jared Diamond</p>
	<p><b>Empires of the Word</b> by Nicholas Ostler</p>
	<p><b>The Sun Also Rises</b> by Ernest Hemingway</p>
	<p><b>The Power of One</b> by Bryce Courtenay</p>
	<p><b>The Metamorphosis (Die Verwandlung)</b> by Franz Kafka</p>
	<h2>travel</h2>
	<p>I've been lucky enough to see a decent fraction of the world. Much of this has been tourism, though I've also lived in a few places outside the U.S. for a month or longer: Dedemsvaart, Netherlands; Ashrang, Nepal; Rabat, Morocco; and Riga, Latvia.</p>
	<p>Countries I've visited:</p>
	<p><img src="/about/map.png"></p>
	<p><a href="http://imgur.com/a/cbpR8">a small album of my favorite travel pictures</a>
{% endblock %}