{% extends 'lander/base.html' %}

{% block content %}

<div class="container">
<h1 style="padding: 0 0 1em 0;">Situations!</h1>
	<div class="row">
		<div class="col-xs-12">
			<h3>Situation:</h3>
			<p style="text-align:center;" id="situation"></p>
			<h3>Words:</h3>
            <p style="text-align: center;" id="words"></p>
  		</div>
  	</div>

    <button onClick="draw()" style="padding: 1em 3vw;">Generate</button>

	<div class="row">
		<div class="col-xs-6">
			<h3>Situation bank</h3>
			<p style="text-align:center;" id="situation-bank"></p>
		</div>
		<div class="col-xs-6">
			<h3>Word bank</h3>
            <p style="text-align: center;" id="word-bank"></p>
  		</div>
  	</div>
</div>

{% endblock %}

{% block scripts %}

<script src="/static/js/situations.js"></script>

{% endblock %}