<html>
<head>
<style type="text/css">
  #container {
    /*max-width: 400px;*/
    height: 100vh;
    margin: auto;
  }
</style>
</head>
<body>
<script src="/static/js/src/sigma.core.js"></script>
<script src="/static/js/src/conrad.js"></script>
<script src="/static/js/src/utils/sigma.utils.js"></script>
<script src="/static/js/src/utils/sigma.polyfills.js"></script>
<script src="/static/js/src/sigma.settings.js"></script>
<script src="/static/js/src/classes/sigma.classes.dispatcher.js"></script>
<script src="/static/js/src/classes/sigma.classes.configurable.js"></script>
<script src="/static/js/src/classes/sigma.classes.graph.js"></script>
<script src="/static/js/src/classes/sigma.classes.camera.js"></script>
<script src="/static/js/src/classes/sigma.classes.quad.js"></script>
<script src="/static/js/src/classes/sigma.classes.edgequad.js"></script>
<script src="/static/js/src/captors/sigma.captors.mouse.js"></script>
<script src="/static/js/src/captors/sigma.captors.touch.js"></script>
<script src="/static/js/src/renderers/sigma.renderers.canvas.js"></script>
<script src="/static/js/src/renderers/sigma.renderers.webgl.js"></script>
<script src="/static/js/src/renderers/sigma.renderers.svg.js"></script>
<script src="/static/js/src/renderers/sigma.renderers.def.js"></script>
<script src="/static/js/src/renderers/webgl/sigma.webgl.nodes.def.js"></script>
<script src="/static/js/src/renderers/webgl/sigma.webgl.nodes.fast.js"></script>
<script src="/static/js/src/renderers/webgl/sigma.webgl.edges.def.js"></script>
<script src="/static/js/src/renderers/webgl/sigma.webgl.edges.fast.js"></script>
<script src="/static/js/src/renderers/webgl/sigma.webgl.edges.arrow.js"></script>
<script src="/static/js/src/renderers/canvas/sigma.canvas.labels.def.js"></script>
<script src="/static/js/src/renderers/canvas/sigma.canvas.hovers.def.js"></script>
<script src="/static/js/src/renderers/canvas/sigma.canvas.nodes.def.js"></script>
<script src="/static/js/src/renderers/canvas/sigma.canvas.edges.def.js"></script>
<script src="/static/js/src/renderers/canvas/sigma.canvas.edges.curve.js"></script>
<script src="/static/js/src/renderers/canvas/sigma.canvas.edges.arrow.js"></script>
<script src="/static/js/src/renderers/canvas/sigma.canvas.edges.curvedArrow.js"></script>
<script src="/static/js/src/renderers/canvas/sigma.canvas.edgehovers.def.js"></script>
<script src="/static/js/src/renderers/canvas/sigma.canvas.edgehovers.curve.js"></script>
<script src="/static/js/src/renderers/canvas/sigma.canvas.edgehovers.arrow.js"></script>
<script src="/static/js/src/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js"></script>
<script src="/static/js/src/renderers/canvas/sigma.canvas.extremities.def.js"></script>
<script src="/static/js/src/renderers/svg/sigma.svg.utils.js"></script>
<script src="/static/js/src/renderers/svg/sigma.svg.nodes.def.js"></script>
<script src="/static/js/src/renderers/svg/sigma.svg.edges.def.js"></script>
<script src="/static/js/src/renderers/svg/sigma.svg.edges.curve.js"></script>
<script src="/static/js/src/renderers/svg/sigma.svg.labels.def.js"></script>
<script src="/static/js/src/renderers/svg/sigma.svg.hovers.def.js"></script>
<script src="/static/js/src/middlewares/sigma.middlewares.rescale.js"></script>
<script src="/static/js/src/middlewares/sigma.middlewares.copy.js"></script>
<script src="/static/js/src/misc/sigma.misc.animation.js"></script>
<script src="/static/js/src/misc/sigma.misc.bindEvents.js"></script>
<script src="/static/js/src/misc/sigma.misc.bindDOMEvents.js"></script>
<script src="/static/js/src/misc/sigma.misc.drawHovers.js"></script>
<!-- END SIGMA IMPORTS -->
<script src="/static/js/plugins/sigma.renderers.edgeLabels/settings.js"></script>
<script src="/static/js/plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.def.js"></script>
<script src="/static/js/plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.curve.js"></script>
<script src="/static/js/plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.curvedArrow.js"></script>

<div id="container">
  <style>
    #graph-container {
      top: 5vh;
      bottom: 10vh;
      left: 5vw;
      right: 5vw;
      position: absolute;
    }
  </style>
  <div id="graph-container"></div>
  <a href="/tekotypes/legend">Legend</a>
</div>

<script>
var tekotype = "#b77", nontype = "#787";
var subtype = "#f99", instance = "#9c9", constituency = "#444", i = 0;

var g = {
  nodes: [],
  edges: []
};

g.nodes.push({
  id: 'type',
  label: 'type',
  x: 9.5,
  y: 9.5,
  size: 10,
  color: tekotype
});
g.nodes.push({
  id: 'obj',
  label: 'obj',
  x: 10.5,
  y: 10.5,
  size: 10,
  color: tekotype
});
g.nodes.push({
  id: 'real',
  label: 'real',
  x: 9,
  y: 11,
  size: 10,
  color: tekotype
});
g.nodes.push({
  id: 'int',
  label: 'int',
  x: 7,
  y: 11,
  size: 10,
  color: tekotype
});
g.nodes.push({
  id: '2',
  label: '2',
  x: 7,
  y: 13,
  size: 10,
  color: nontype
});
g.nodes.push({
  id: '2.5',
  label: '2.5',
  x: 9,
  y: 13,
  size: 10,
  color: nontype
});
g.nodes.push({
  id: 'struct',
  label: 'struct',
  x: 8,
  y: 8,
  size: 10,
  color: tekotype
});
g.nodes.push({
  id: 'iterable',
  label: 'iterable(int)',
  x: 12,
  y: 12,
  size: 10,
  color: tekotype
});
g.nodes.push({
  id: '(int n)',
  label: '(int n)',
  x: 10,
  y: 8,
  size: 10,
  color: tekotype
});
g.nodes.push({
  id: 'int[]',
  label: 'int[]',
  x: 11,
  y: 13,
  size: 10,
  color: tekotype
});
g.nodes.push({
  id: '[1,2,3]',
  label: '[1,2,3]',
  x: 11,
  y: 15,
  size: 10,
  color: nontype
});
g.nodes.push({
  id: 'int{}',
  label: 'int{}',
  x: 13,
  y: 13,
  size: 10,
  color: tekotype
});
g.nodes.push({
  id: '{1,2,3}',
  label: '{1,2,3}',
  x: 13,
  y: 15,
  size: 10,
  color: nontype
});
g.nodes.push({
  id: 'char',
  label: 'char',
  x: 11,
  y: 9,
  size: 10,
  color: tekotype
});
g.nodes.push({
  id: 'iterable(char)',
  label: 'iterable(char)',
  x: 12,
  y: 10,
  size: 10,
  color: tekotype
});
g.nodes.push({
  id: 'str',
  label: 'str',
  x: 13,
  y: 11,
  size: 10,
  color: tekotype
});
g.nodes.push({
  id: "'H'",
  label: "'H'",
  x: 12,
  y: 8,
  size: 10,
  color: nontype
});
g.nodes.push({
  id: '"Hello"',
  label: '"Hello"',
  x: 13,
  y: 9,
  size: 10,
  color: nontype
});
g.nodes.push({
  id: 'enum(int)',
  label: 'enum(int)',
  x: 14,
  y: 10,
  size: 10,
  color: tekotype
});
g.nodes.push({
  id: '{A=1, B=2}',
  label: '{A=1, B=2}',
  x: 15,
  y: 12,
  size: 10,
  color: tekotype
});
g.nodes.push({
  id: 'B',
  label: 'B',
  x: 15,
  y: 14,
  size: 10,
  color: nontype
});


// type is an instance of type
g.edges.push({
  id: 'e' + (i++),
  source: 'type',
  color: instance,
  target: 'type',
  size: 10,
  type: 'curvedArrow'
});

// obj is a type, type is a subtype of obj
g.edges.push({
  id: 'e' + (i++),
  source: 'obj',
  color: instance,
  target: 'type',
  size: 10,
  type: 'arrow'
});
g.edges.push({
  id: 'e' + (i++),
  source: 'type',
  color: subtype,
  target: 'obj',
  size: 10,
  type: 'curvedArrow'
});

// real is a type, a subtype of obj
g.edges.push({
  id: 'e' + (i++),
  source: 'real',
  color: instance,
  target: 'type',
  size: 10
});
g.edges.push({
  id: 'e' + (i++),
  source: 'real',
  color: subtype,
  target: 'obj',
  size: 10,
  type: 'arrow'
});

// int is a type, a subtype of real
g.edges.push({
  id: 'e' + (i++),
  source: 'int',
  color: instance,
  target: 'type',
  size: 10
});
g.edges.push({
  id: 'e' + (i++),
  source: 'int',
  color: subtype,
  target: 'real',
  size: 10,
  type: 'arrow'
});

// 2 is an int, 2.5 is a real
g.edges.push({
  id: 'e' + (i++),
  source: '2',
  color: instance,
  target: 'int',
  size: 10
});
g.edges.push({
  id: 'e' + (i++),
  source: '2.5',
  color: instance,
  target: 'real',
  size: 10
});

// struct is a type, subtype of type
g.edges.push({
  id: 'e' + (i++),
  source: 'struct',
  color: instance,
  target: 'type',
  size: 10
});
g.edges.push({
  id: 'e' + (i++),
  source: 'struct',
  color: subtype,
  target: 'type',
  size: 10,
  type: 'arrow'
});

// iterable(int) is a type, subtype of obj
g.edges.push({
  id: 'e' + (i++),
  source: 'iterable',
  color: instance,
  target: 'type',
  size: 10
});
g.edges.push({
  id: 'e' + (i++),
  source: 'iterable',
  color: subtype,
  target: 'obj',
  size: 10,
  type: 'arrow'
});

// (int n) is a struct, subtype of obj
g.edges.push({
  id: 'e' + (i++),
  source: '(int n)',
  color: instance,
  target: 'struct',
  size: 10,
  type: 'arrow'
});
g.edges.push({
  id: 'e' + (i++),
  source: '(int n)',
  color: subtype,
  target: 'obj',
  size: 10
});

// int[] is a type, subtype of iterable
g.edges.push({
  id: 'e' + (i++),
  source: 'int[]',
  color: instance,
  target: 'type',
  size: 10
});
g.edges.push({
  id: 'e' + (i++),
  source: 'int[]',
  color: subtype,
  target: 'iterable',
  size: 10,
  type: 'arrow'
});

// int{} is a type, subtype of iterable
g.edges.push({
  id: 'e' + (i++),
  source: 'int{}',
  color: instance,
  target: 'type',
  size: 10
});
g.edges.push({
  id: 'e' + (i++),
  source: 'int{}',
  color: subtype,
  target: 'iterable',
  size: 10,
  type: 'arrow'
});

// [1,2,3] is an int[], with constituency int
g.edges.push({
  id: 'e' + (i++),
  source: '[1,2,3]',
  color: instance,
  target: 'int[]',
  size: 10
});
g.edges.push({
  id: 'e' + (i++),
  source: '[1,2,3]',
  color: constituency,
  target: 'int',
  size: 10
});

// {1, 2, 3} is an int{}, with constituency int
g.edges.push({
  id: 'e' + (i++),
  source: '{1,2,3}',
  color: instance,
  target: 'int{}',
  size: 10
});
g.edges.push({
  id: 'e' + (i++),
  source: '{1,2,3}',
  color: constituency,
  target: 'int',
  size: 10
});

// char is a type, a subtype of obj
g.edges.push({
  id: 'e' + (i++),
  source: 'char',
  color: instance,
  target: 'type',
  size: 10,
  type: 'arrow'
});
g.edges.push({
  id: 'e' + (i++),
  source: 'char',
  color: subtype,
  target: 'obj',
  size: 10,
});

// 'H' is a char
g.edges.push({
  id: 'e' + (i++),
  source: "'H'",
  color: instance,
  target: 'char',
  size: 10,
  type: 'arrow'
});

// iterable(char) is a type, subtype of obj
g.edges.push({
  id: 'e' + (i++),
  source: 'iterable(char)',
  color: instance,
  target: 'type',
  size: 10,
  type: 'arrow'
});
g.edges.push({
  id: 'e' + (i++),
  source: 'iterable(char)',
  color: subtype,
  target: 'obj',
  size: 10,
  type: 'arrow'
});

// str is a type, a subtype of iterable(char)
g.edges.push({
  id: 'e' + (i++),
  source: 'str',
  color: instance,
  target: 'type',
  size: 10,
  type: 'arrow'
});
g.edges.push({
  id: 'e' + (i++),
  source: 'str',
  color: subtype,
  target: 'iterable(char)',
  size: 10,
  type: 'arrow'
});

// "Hello" is a str, with constituency char
g.edges.push({
  id: 'e' + (i++),
  source: '"Hello"',
  color: instance,
  target: 'str',
  size: 10,
  type: 'arrow'
});
g.edges.push({
  id: 'e' + (i++),
  source: '"Hello"',
  color: constituency,
  target: 'char',
  size: 10,
});

// enum(int) is a type, a subtype of iterable(int)
g.edges.push({
  id: 'e' + (i++),
  source: 'enum(int)',
  color: instance,
  target: 'type',
  size: 10,
  type: 'arrow'
});
g.edges.push({
  id: 'e' + (i++),
  source: 'enum(int)',
  color: subtype,
  target: 'iterable',
  size: 10,
});

// {A=1, B=2} is an enum(int), a subtype of int, with constituency int
g.edges.push({
  id: 'e' + (i++),
  source: '{A=1, B=2}',
  color: instance,
  target: 'enum(int)',
  size: 10,
});
g.edges.push({
  id: 'e' + (i++),
  source: '{A=1, B=2}',
  color: subtype,
  target: 'int',
  size: 10,
  type: 'arrow'
});
g.edges.push({
  id: 'e' + (i++),
  source: '{A=1, B=2}',
  color: constituency,
  target: 'int',
  size: 10,
});

// B is an {A=1, B=2}

g.edges.push({
  id: 'e' + (i++),
  source: 'B',
  color: instance,
  target: '{A=1, B=2}',
  size: 10,
});

var s = new sigma({
  graph: g,
  renderer: {
    container: document.getElementById('graph-container'),
    type: 'canvas'
  },
  settings: {
    edgeLabelSize: 'proportional',
    minArrowSize: 12,
    minEdgeSize: 5,
    maxEdgeSize: 4,
    minNodeSize: 15,
    maxNodeSize: 15,
    labelColor: "node",
    labelSize: "proportional",
    labelSizeRatio: 1.5,
    defaultEdgeType: 'curvedArrow'
  }
});
</script>

</body>
</html>