{% extends 'lander/base.html' %}

{% block content %}
	<h1>Web Technology Vocab &amp; Crash Course</h1>
	<h2>HTML</h2>
	<p>HTML just tells you the structure of a webpage without telling you how to format it. 
	If you look at the source code for this page, you'll see something along the lines of:</p>
	<pre>
&lt;html&gt;
	&lt;head&gt;
		&lt;!-- a buncha CSS imports and shit --&gt;
	&lt;/head&gt;
	&lt;body&gt;
		&lt;div&gt;
			&lt;h1&gt;Web Technology Vocab &amp; Crash Course&lt;/h1&gt;
			&lt;h2&gt;HTML&lt;/h2&gt;
			&lt;p&gt;HTML was invented by Albert Einstein....&lt;/p&gt;
			...etc...
		&lt;div&gt;
	&lt;/body&gt;
&lt;/html&gt;</pre>
	<p>HTML (Hypertext Markup Language) is a variety of XML (Extensible Markup Language). 
	XML is basically just the format of having a heirarchical tree structure and tags that look like <code>&lt;tag&gt;this&lt;/tag&gt;</code>
	without specifying what any tags actually mean, while HTML is a specific set of tags for decribing webpage structure.</p>
	<p>Here are the only tags you actually need to know:</p>
	<pre>&lt;p&gt;words.&lt;/p&gt;</pre>
	<p>Paragraph - basically, any normal text.</p>
	<pre>&lt;h1&gt;This is important!&lt;/h1&gt;</pre>
	<p>A big header. <code>&lt;h2&gt;</code> is a lil smaller, <code>&lt;h3&gt;</code> smaller still, up to <code>&lt;h6&gt;</code>.</p>
	<pre>&lt;div&gt;...some HTML...&lt;/div&gt;</pre>
	<p>A rectangular container for putting other things in.</p>
	<pre>&lt;br/&gt;</pre>
	<p>A line break. The slash at the end makes this tag "self-closing" - an abbreviation for <code>&lt;br&gt;&lt;/br&gt;</code>. You do this with break tags
	because there'll never be content inside a break tag, while there's hopefully always content inside a paragraph or container.</p>
	<pre>&lt;a href="www.hotmail.gov"&gt;Hotmail.gov - definitely not a scam!&lt;/a&gt;</pre>
	<p>A link. The attribute <code>href</code> is the link destination.</p>
	<pre>&lt;img src="http://www.conorstuartroe.com/static/img/conor.jpg"/&gt;</pre>
	<p>An image. <code>src</code> is a link to the image. This is another example of a tag that's usually written self closing, since you'd never put
	text or other HTML elements "inside" an image.</p>
	<hr/>
	<h2>CSS</h2>
	<p>CSS conveys formatting information. For example,</p>
	<pre>
p {
	font-size: 18px;
	color: blue;
}</pre>
	<p>makes your paragraph text 18 pixels tall and blue. Literally just look up whatever you want to do with CSS, it's not worth memorizing anything.</p>
	<p>CSS is not included as part of an HTML file, but gets stored in a totally different file. At the top of an HTML document there might be a little
	<code>&lt;link rel="stylesheet"&gt;</code> tag that links to a CSS file accessible by its own URL, and your browser knows to interpret whatever resides at 
	that URL	as formatting information. You might link to CSS from the same site or a different site. For instance, this page imports CSS from
	<a href="http://www.conorstuartroe.com/static/css/custom.css">http://www.conorstuartroe.com/static/css/custom.css</a> and
	<a href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css</a>.</p>
	<hr/>
	<h2>JavaScript</h2>
	<p>Not Java. In no way Java. Javascript is a programming language meant to be embedded into HTML, in between <code>&lt;script&gt;</code> tags, and compiled 
	and run by theweb browser. It's usually written or imported at the end of a document, so your browser can load all the page content before trying to compile 
	and run code.</p>
	<p>JS gets a lot of shit from real programmers because it is sooper loosy goosy and inconstent and won't throw errors unless absolutely necessary. This makes 
	sense in the context of web content - you don't want to throw an error and give up loading an entire webpage just because some junior programmer dropped a 
	semicolon. JS took that idea and ran with it pretty far, though, especially when it comes to aggressive type coercion. These are actual outputs that JS will 
	give:</p>
	<pre>
&gt; '5' + '5' - '5'
50
&gt; '5' - '5' + '5'
5
&gt; '0' == 0
true
&gt; 0 == []
true
&gt; '0' == []
false</pre>
	<p>You'd mainly use JavaScript for dynamically changing the content of HTML elements, doing things like fetching the current time, or making little animations
	like the spinny gears on this page, but now people are trying to use it for all kinds of more serious things, server-side things. Wild times.</p>
	<hr/>
	<h2>Server</h2>
	<p>A computer, typically stowed away without a monitor in an Amazon warehouse. Advantages of this approach - unlike your computer, Amazon's were
	built to serve internet requests and can be left on all the time. Disadvantages - you have to ssh in and do everything from the command line, depriving
	you of sweet sweet Sublime Text.</p>
	<p>Servers will generally run on a Linux OS like Debian or Ubuntu. To service web requests, you'll need to install a web server software like Apache
	or Nginx and whatever backend technology you want, like Node.js, Django, or just PHP.</p>
	<p>Big providers of cloud computing are Amazon Web Services, DigitalOcean, Linode, Microsoft Azure, and Heroku.</p>
	<hr/>
	<h2>Web Server</h2>
	<p>Confusingly, a web server is not the same thing as a server. A web server is software you install on your server computer, that listens over its internet 
	connection for requests and points them at the right backend software. For instance, on this site, if you ask for /guide/webtech, it asks Django to please 
	give it whatever "/guide/webtech" means, and leaves it up to Django to decide what that means.</p>
	<p>The main way you'd ever deal with a web server is by installing it, writing a configuration file that points it at the right backend stuff, and then 
	forgetting about it. Behind the scenes, web servers will do things like load balancing and other terms I don't understand. The main web servers are Apache 
	and	Nginx.</p>
	<hr/>
	<h2>Web Framework</h2>
	<p>A web framework is any programming package made for building web pages. They'll be libraries in familiar programming languages like Python, Ruby, or 
	JavaScript that handle all kinds of jobs related to putting web pages together. There are two main types of things you'd need them for:</p>
	<p>First, they make templating a lot easier. Every page on this site has the same header, footer, and CSS imports, so instead of copy and pasting
	that stuff into a file for every page and getting a migraine every time I want to change it, I just made one base.html and the Python library Django
	knows how to insert stuff later. For example, webtech.html says something like</p>
	<pre>
&#123;% extends 'base.html' %&#125;
&#123;% block content %&#125;
	...blah blah blah...
	&lt;h1&gt;Web Technology Vocab &amp; Crash Course&lt;/h1&gt;
	...stuff...
&#123;% endblock %&#125;</pre>
	<p>Second, you might want to access a database. There's not really any use of that on this site, but for instance 
	<a href="https://ticha.haverford.edu/en/texts/An740/">this Ticha page</a> requires a database call on the backend. There's no separate HTML
	file for An740, but Django knows if it gets a URL request that looks like /texts/ followed by some letters and numbers, that second part is a
	code identifying a document. It looks up that document in its database and sticks its photo, name, and metadata in the appropriate places in the template.</p>
	<p>Since frameworks are just libraries in otherwise robust programming languages, you can do anything else you'd normally do with programming languages.
	You could run machine learning algorithms or make API calls in the background. <a href="http://www.conorstuartroe.com/news">This page</a> uses
	a Python RSS parsing library to scrape and read the feeds of a couple news outlets and stick them into a nice Python list, to be put into
	a template by Django.</p>
	<hr/>
	<h2>Databases</h2>
	<p>Databases are what they sounds like - big stores of reference information. They come in two main flavors - SQL and NoSQL.</p>
	<p>SQL databases are "relational," a model of data storage that's basically like putting everything in Excel spreadsheets. Rows correspond to entities and 
	columns correspond to attributes of those entities. Each column has a name and a data type. For example:</p>
	<table>
		<tr>
			<th>Name</th>
			<th>Date of Birth</th>
			<th>Residence</th>
		</tr>
		<tr>
			<td>Orville Redenbacher</td>
			<td>July 16, 1907</td>
			<td>USA</td>
		</tr>
		<tr>
			<td>Kim Jong Un</td>
			<td>January 8, 1983</td>
			<td>Best Korea</td>
		</tr>
		<tr>
			<td>Eugene Krabs</td>
			<td>March 24, 1952</td>
			<td>Marshall Islands</td>
		</tr>
		<tr>
			<td>Sean "Spicy Boi" Spicer</td>
			<td>September 23, 1971</td>
			<td>USA</td>
		</tr>
	</table>
	<p>Unlike Excel, SQL databases don't come with user interfaces. There have been UIs developed to view and edit most popular SQL formats, but the most 
	straightforward way to interact with SQL databases is through SQL - Structured Query Language. Here's an example:</p>
	<pre>SELECT Name FROM People WHERE Residence='USA';</pre>
	<p>This query would return 'Orville Redenbacher' and 'Sean "Spicy Boi" Spicer.'</p>
	<p>There are several SQL database softwares, which all use more or less the same SQL syntax and mostly differ in speed, portability, and set of data types.
	SQLite is as portable as you can get, sticking everything in one .sqlite file, but it lacks some features like user management and doesn't have great write 
	speed. MySQL by Oracle is pretty popular, because it's more powerful, more scalable, and has better security features. PostgreSQL is super advanced and open
	source, with so much funtionality and customizability it might be overkill most of the time.</p>
	<p>NoSQL is a catch-all for any database that doesn't follow the relational model of SQL. They can follow any number of data models, like key-value
	 (think Python dictionary), graph (as in graph theory - nodes and edges), and object (as in a JSON object).</p>
	<p>Redis is a popular open-source key-value database software. Apache Cassandra is another popular key-value database that I don't understand.
	By far the most popular NoSQL database software is MongoDB, which stores a big ol' JSON file. JSON (Javascript Object Notation) looks like this:</p>
	<pre>
{
  "firstName": "Orville",
  "lastName": "Redenbacher",
  "isAlive": false,
  "DOB": {
  	"year": 1907,
  	"month": July,
  	"day": 16
  }
  "spouse": "Nina Reder"
  "children": ["Billie Ann Atwood","Gail Tuminello"]
  "emails": [
  	{
  		"type": "work",
  		"address": "oredenbacher@chesterhybrids.com"
  	}
  	{
  		"type": "personal",
  		"address": "popcornman@hotmail.gov"
  	}
  ]
}</pre>
<p>In JavaScript and JSON, everything in between a pair of curly braces {} is considered an "object," so the code above contains a DOB object and two email 
objects inside a bigger object referring to a particular person. JSON is good for heirarchical data, or when you're unsure how many attributes entities will 
have.</p>
{% endblock %}