{% extends 'lauvinko_base.html' %}
{% block content %}
<h1>Welcome to Lauvinko!</h1>
<p class="lauvinko">nmaset</p>

<ul>
	<li><a href="/lauvinko/people">1 The Lauvinko People</a></li>
	<ul>
		<li><a href="/lauvinko/history">1.1 History</a></li>
		<ul>
			<li><a href="/lauvinko/prehistory">1.1.1 Prehistory (until 800s CE)</a></li>
			<li><a href="/lauvinko/early_history">1.1.2 Early History (800s - 1400s)</a></li>
			<li><a href="/lauvinko/sultanate">1.1.3 Sultanate (1400s - 1511)</a></li>
			<li><a href="/lauvinko/portuguese_rule">1.1.4 Portuguese Rule (1511 - 1641)</a></li>
			<li><a href="/lauvinko/dutch_rule">1.1.5 Dutch Rule (1641 - 1824)</a></li>
			<li><a href="/lauvinko/british_rule">1.1.6 British Rule (1824 -)</a></li>
		</ul>
		<li><a href="/lauvinko/culture">1.2 Culture</a></li>
		<ul>
			<li><a href="/lauvinko/food">1.2.1 Food, Drink, and Drugs</a></li>
			<li><a href="/lauvinko/material">1.2.2 Material Culture</a></li>
			<li><a href="/lauvinko/clans">1.2.3 Clans</a></li>
			<li><a href="/lauvinko/society">1.2.4 Society</a></li>
			<li><a href="/lauvinko/religion">1.2.5 Religion</a></li>
		</ul>
	</ul>
	<li><a href="/lauvinko/phonorth">2 Phonology and Orthography</a></li>
	<ul>
		<li><a href="/lauvinko/phonology">2.1 Phonology</a></li>
		<ul>
			<li><a href="/lauvinko/consonants">2.1.1 Consonants</a></li>
			<li><a href="/lauvinko/vowels">2.1.2 Vowels</a></li>
			<li><a href="/lauvinko/words">2.1.3 Word Structure</a></li>
			<li><a href="/lauvinko/prosody">2.1.4 Pitch Accent</a></li>
			<li><a href="/lauvinko/consonant_sandhi">2.1.5 Consonant Sandhi</a></li>
			<li><a href="/lauvinko/vowel_sandhi">2.1.6 Vowel Sandhi</a></li>
		</ul>
		<li><a href="/lauvinko/morphophonology">2.2 Morphophonological Processes</a></li>
		<ul>
			<li><a href="/lauvinko/mutations">2.2.1 Stem-Initial Consonant Mutations</a></li>
			<li><a href="/lauvinko/augment">2.2.2 Augment</a></li>
		</ul>
		<li><a href="/lauvinko/orthography">2.3 Orthography</a></li>
		<ul>
			<li><a href="/lauvinko/palavaytolis">2.3.1 Palavaytolis Abugida</a></li>
			<li><a href="/lauvinko/latin">2.3.2 Latin Alphabet Orthography</a></li>
			<li><a href="/lauvinko/transcription">2.3.3 Transcription used in this document</a></li>
		</ul>
	</ul>
	<li><a href="/lauvinko/nouns">3 Nominal Morphology</a></li>
	<ul>
		<li><a href="/lauvinko/class">3.1 Noun Class and Number</a></li>
		<ul>
			<li><a href="/lauvinko/head">3.1.1 Head Class</a></li>
			<li><a href="/lauvinko/branch">3.1.2 Branch Class</a></li>
			<li><a href="/lauvinko/leaf">3.1.3 Leaf Class</a></li>
			<li><a href="/lauvinko/rock">3.1.4 Rock Class</a></li>
			<li><a href="/lauvinko/sea">3.1.5 Sea Class</a></li>
			<li><a href="/lauvinko/number">3.1.6 Number</a></li>
		</ul>
		<li><a href="/lauvinko/personal_pronouns">3.2 Personal Pronouns and Nominal Inflection</a></li>
		<ul>
			<li><a href="/lauvinko/case_suffixes">3.2.1 Case Suffixes</a></li>
			<li><a href="/lauvinko/independent">3.2.2 Independent Forms</a></li>
			<li><a href="/lauvinko/dependent">3.2.3 Dependent Forms</a></li>
			<li><a href="/lauvinko/2p">3.2.4 Second Person Pronouns</a></li>
		</ul>
		<li><a href="/lauvinko/other_pronouns">3.3 Other Pronouns</a></li>
		<ul>
			<li><a href="/lauvinko/reflexive">3.3.1 Reflexive</a></li>
			<li><a href="/lauvinko/demonstrative">3.3.2 Demonstrative</a></li>
			<li><a href="/lauvinko/indefinite">3.3.3 Indefinite and Interrogative</a></li>
		</ul>
		<li><a href="/lauvinko/cases">3.4 Cases and Argument Structure</a></li>
		<ul>
			<li><a href="/lauvinko/volitive">3.4.1 Volitive Case</a></li>
			<li><a href="/lauvinko/instrumental">3.4.2 Instrumental Case</a></li>
			<li><a href="/lauvinko/patientive">3.4.3 Patientive Case</a></li>
			<li><a href="/lauvinko/dative">3.4.4 Dative Case</a></li>
			<li><a href="/lauvinko/adpositional">3.4.5 Adpositional Cases</a></li>
			<li><a href="/lauvinko/partitive">3.4.6 Partitive Case</a></li>
		</ul>
		<li><a href="/lauvinko/derivation">3.5 Noun Derivation</a></li>
		<li><a href="/lauvinko/positionals">3.6 Positionals</a></li>
	</ul>
</ul>
{% endblock %}