{% load static %}
<html>
	<head>

		<title>Lauvìnko</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'css/lauvinko.css' %}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
		<link rel="shortcut icon" href="{% static 'img/lotus.ico' %}">
		<meta charset="utf-8">

	</head>

	<body>

		<header id = "navbar">
		</header>

		<div id = "mainframe" class="container"><div class="row">
		<div class="col-xs-1 col-md-2"></div>
		<div class="col-xs-10 col-md-8">
			{% block content %}
			{% endblock %}
		</div>
		<div class="col-xs-1 col-md-2"></div>
		</div></div>

		<hr/>

		<div id = "footer">
			<p style="text-align: center;">All content &copy; Conor Stuart Roe 2018 under a <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/">CC BY-NC-ND 3.0</a> license.</p>
		</div>

	    <div id="font-toggle">
			<p><a>Toggle <br/> Lauvinko <br/> font</a></p>
		</div>

	    <script>
	        var toggled = false;

			$("#font-toggle").click(function() {
			    if (toggled) {
			        $(".lauvinko").css({"font-family":"Lauvinko Bubble", "margin-top":"auto"});
			        $("span.lauvinko").css({"font-size":"2vh"});
			        $("td.lauvinko").css({"font-size":"2.5vh"});
			        $("h1.lauvinko").css({"font-size":"4vh"});
			    } else {
			        $(".lauvinko").css({"font-family":"Lauvinko Smooth Serif", "margin-top":"-1vh"});
			        $("span.lauvinko").css({"font-size":"3vh"});
			        $("td.lauvinko").css({"font-size":"3.5vh"});
			        $("h1.lauvinko").css({"font-size":"6vh"});
			    }
			    toggled = !toggled;
			});
		</script>
	</body>
</html>
