{% extends 'lauvinko_base.html' %}
{% block content %}
<h1>Lauvìnko</h1>

<img src="/static/img/LotusWithText.png" style="width:30vh;height:30vh;margin:2em;"/>

<p style="text-align:center;padding:.5em;">Lauvìnko is a constructed language created by Conor Stuart Roe. The table of contents for this site can be found at the bottom.</p>

<p style="text-align:center;padding:.5em;">Not sure what to read first? Here are a few good places to start to get a feel for the project!</p>

<div class="row">
<a href="/lauvinko/overview"><div class="go-down col-xs-4 col-md-4"><div><h3>Overview of the Project</h3></div></div></a>
<a href="/lauvinko/class_words"><div class="go-down col-xs-4 col-md-4"><div><h3>Lesson #1</h3></div></div></a>
<a href="/lauvinko/north_wind"><div class="go-down col-xs-4 col-md-4"><div><h3>The North Wind and the Sun (a short story)</h3></div></div></a>
</div>

<p style="text-align:center;padding:.5em;">These are some of my favorite pages:</p>

<div class="row">
<a href="/lauvinko/colors"><div class="go-down col-xs-4 col-md-4"><div><h3>
	<span style="color:red;">C</span>
	<span style="color:orange;">o</span>
	<span style="color:yellow;">l</span>
	<span style="color:green;">o</span>
	<span style="color:blue;">r</span>
	<span style="color:purple;">s</span>
	<span style="color:pink;">!</span>
</h3></div></div></a>
<a href="/lauvinko/proto"><div class="go-down col-xs-4 col-md-4"><div><h3>Proto-Kasanic (Lauvìnko's ancestor language)</h3></div></div></a>
<a href="/lauvinko/case_aspect_interaction"><div class="go-down col-xs-4 col-md-4"><div><h3>Case-Aspect Interaction (a grammatical wonder!)</h3></div></div></a>
</div>

<p style="text-align:center;padding:.5em;">For those interested in the whole shebang, here are the full contents:</p>

<div class="scroll" style="max-height:75vh;">
	<ul>
	<li><a href="/lauvinko/introduction">1 Introduction</a></li>
	<ul>
		<li><a href="/lauvinko/overview">1.1 Overview</a></li>
		<li><a href="/lauvinko/glossing">1.2 A Note on Glossing Conventions</a></li>
	</ul>
	<li><a href="/lauvinko/people">2 The Lauvìnko People</a></li>
	<ul>
		<li><a href="/lauvinko/history">2.1 History</a></li>
		<ul>
			<li><a href="/lauvinko/prehistory">2.1.1 Prehistory (until 800s CE)</a></li>
			<li><a href="/lauvinko/early_history">2.1.2 Early History (800s - 1400s)</a></li>
			<li><a href="/lauvinko/sultanate">2.1.3 Sultanate (1400s - 1511)</a></li>
			<li><a href="/lauvinko/portuguese_rule">2.1.4 Portuguese Rule (1511 - 1641)</a></li>
			<li><a href="/lauvinko/dutch_rule">2.1.5 Dutch Rule (1641 - 1824)</a></li>
			<li><a href="/lauvinko/british_rule">2.1.6 British Rule (1824 -)</a></li>
		</ul>
		<li><a href="/lauvinko/culture">2.2 Culture</a></li>
		<ul>
			<li><a href="/lauvinko/food">2.2.1 Food, Drink, and Drugs</a></li>
			<li><a href="/lauvinko/material">2.2.2 Material Culture</a></li>
			<li><a href="/lauvinko/clans">2.2.3 Clans</a></li>
			<li><a href="/lauvinko/society">2.2.4 Society</a></li>
			<li><a href="/lauvinko/religion">2.2.5 Religion</a></li>
		</ul>
	</ul>
	<li><a href="/lauvinko/phonorth">3 Phonology and Orthography</a></li>
	<ul>
		<li><a href="/lauvinko/phonology">3.1 Phonology</a></li>
		<ul>
			<li><a href="/lauvinko/consonants">3.1.1 Consonants</a></li>
			<li><a href="/lauvinko/vowels">3.1.2 Vowels</a></li>
			<li><a href="/lauvinko/word_structure">3.1.3 Word Structure</a></li>
			<li><a href="/lauvinko/pitch_accent">3.1.4 Pitch Accent</a></li>
			<li><a href="/lauvinko/consonant_sandhi">3.1.5 Consonant Sandhi</a></li>
			<li><a href="/lauvinko/vowel_sandhi">3.1.6 Vowel Sandhi</a></li>
		</ul>
		<li><a href="/lauvinko/morphophonology">3.2 Morphophonological Processes</a></li>
		<ul>
			<li><a href="/lauvinko/mutations">3.2.1 Stem-Initial Consonant Mutations</a></li>
			<li><a href="/lauvinko/augment">3.2.2 Augment</a></li>
		</ul>
		<li><a href="/lauvinko/orthography">3.3 Orthography</a></li>
		<ul>
			<li><a href="/lauvinko/palavaytolis">3.3.1 Palavaytòlis Abugida</a></li>
			<li><a href="/lauvinko/latin">3.3.2 Latin Alphabet Orthography</a></li>
			<li><a href="/lauvinko/transcription">3.3.3 Transcription used in this document</a></li>
		</ul>
	</ul>
	<li><a href="/lauvinko/nouns">4 Nominal Morphology</a></li>
	<ul>
		<li><a href="/lauvinko/class">4.1 Noun Class and Number</a></li>
		<ul>
			<li><a href="/lauvinko/head">4.1.1 Head Class</a></li>
			<li><a href="/lauvinko/branch">4.1.2 Branch Class</a></li>
			<li><a href="/lauvinko/leaf">4.1.3 Leaf Class</a></li>
			<li><a href="/lauvinko/rock">4.1.4 Rock Class</a></li>
			<li><a href="/lauvinko/sea">4.1.5 Sea Class</a></li>
			<li><a href="/lauvinko/number">4.1.6 Number</a></li>
		</ul>
		<li><a href="/lauvinko/personal_pronouns">4.2 Personal Pronouns and Nominal Inflection</a></li>
		<ul>
			<li><a href="/lauvinko/case_suffixes">4.2.1 Case Suffixes</a></li>
			<li><a href="/lauvinko/independent_forms">4.2.2 Independent Forms</a></li>
			<li><a href="/lauvinko/dependent_forms">4.2.3 Dependent Forms</a></li>
			<li><a href="/lauvinko/2p">4.2.4 Second Person Pronouns</a></li>
		</ul>
		<li><a href="/lauvinko/other_pronouns">4.3 Other Pronouns</a></li>
		<ul>
			<li><a href="/lauvinko/reflexive">4.3.1 Reflexive</a></li>
			<li><a href="/lauvinko/demonstrative">4.3.2 Demonstrative</a></li>
			<li><a href="/lauvinko/indefinite">4.3.3 Indefinite and Interrogative</a></li>
		</ul>
		<li><a href="/lauvinko/cases">4.4 Cases and Argument Structure</a></li>
		<ul>
			<li><a href="/lauvinko/volitive">4.4.1 Volitive Case</a></li>
			<li><a href="/lauvinko/instrumental">4.4.2 Instrumental Case</a></li>
			<li><a href="/lauvinko/patientive">4.4.3 Patientive Case</a></li>
			<li><a href="/lauvinko/dative">4.4.4 Dative Case</a></li>
			<li><a href="/lauvinko/adpositional">4.4.5 Adpositional Cases</a></li>
			<li><a href="/lauvinko/partitive">4.4.6 Partitive Case</a></li>
		</ul>
		<li><a href="/lauvinko/derivation">4.5 Noun Derivation</a></li>
		<li><a href="/lauvinko/positionals">4.6 Positionals</a></li>
	</ul>
	<li><a href="/lauvinko/verbs">5 Verbal Morphology</a></li>
	<ul>
		<li><a href="/lauvinko/stem_changes">5.1 Tense and Aspect Stem Changes</a></li>
		<ul>
			<li><a href="/lauvinko/primary">5.1.1 Primary Tense and Aspect</a></li>
			<li><a href="/lauvinko/secondary">5.1.2 Secondary Aspect</a></li>
			<li><a href="/lauvinko/modern_forms">5.1.3 Modern Forms</a></li>
		</ul>
		<li><a href="/lauvinko/applicatives">5.2 Applicatives</a></li>
		<li><a href="/lauvinko/modals">5.3 Modal Prefixes</a></li>
		<ul>
			<li><a href="/lauvinko/tertiary">5.3.1 Tertiary Aspect</a></li>
			<li><a href="/lauvinko/other_modals">5.3.2 Other Modals</a></li>
		</ul>
		<li><a href="/lauvinko/agreement">5.4 Core Argument Agreement</a></li>
		<ul>
			<li><a href="/lauvinko/topic_agreement">5.4.1 Topic Agreement</a></li>
			<li><a href="/lauvinko/patient_agreement">5.4.2 Patient Agreement</a></li>
		</ul>
		<li><a href="/lauvinko/case_aspect_interaction">5.5 Case Aspect Interaction</a></li>
		<ul>
			<li><a href="/lauvinko/inchoative_ablative">5.5.1 Inchoative and Ablative</a></li>
			<li><a href="/lauvinko/imperfect_locative">5.5.2 Imperfect and Locative</a></li>
			<li><a href="/lauvinko/experiential_perlative">5.5.3 Experiential and Perlative</a></li>
			<li><a href="/lauvinko/prospective_allative">5.5.4 Prospective and Allative</a></li>
		</ul>
		<li><a href="/lauvinko/noun_incorporation">5.6 Noun Incorporation</a></li>
	</ul>
	<li><a href="/lauvinko/syntax">6 Syntax</a></li>
	<ul>
		<li><a href="/lauvinko/argument_order">6.1 Core Argument Order</a></li>
		<li><a href="/lauvinko/np">6.2 Noun Phrase Order</a></li>
		<ul>
			<li><a href="/lauvinko/adjectives">6.2.1 Adjectives</a></li>
			<li><a href="/lauvinko/appositives">6.2.2 Appositives</a></li>
			<li><a href="/lauvinko/possession">6.2.3 Possession</a></li>
			<li><a href="/lauvinko/numerals">6.2.4 Numerals</a></li>
		</ul>
		<li><a href="/lauvinko/dependent_clauses">6.3 Dependent Clauses</a></li>
		<ul>
			<li><a href="/lauvinko/adverbial_clauses">6.3.1 Adverbial Clauses</a></li>
			<li><a href="/lauvinko/relative_clauses">6.3.2 Relative Clauses</a></li>
			<li><a href="/lauvinko/noun_clauses">6.3.3 Noun Clauses</a></li>
		</ul>
		<li><a href="/lauvinko/discourse">6.4 Sentences and Discourse</a></li>
		<ul>
			<li><a href="/lauvinko/questions">6.4.1 Questions</a></li>
			<li><a href="/lauvinko/coordinating_conjunctions">6.4.2 Coordinating Conjunctions</a></li>
			<li><a href="/lauvinko/discourse_particles">6.4.3 Discourse Particles</a></li>
		</ul>
	</ul>
	<li><a href="/lauvinko/semantics">7 Semantics</a></li>
	<ul>
		<li><a href="/lauvinko/colors">7.1 Colors</a></li>
		<li><a href="/lauvinko/conceptual_metaphor">7.2 Conceptual Metaphor</a></li>
		<li><a href="/lauvinko/numbers">7.3 Numbers</a></li>
		<ul>
			<li><a href="/lauvinko/up_to_twenty">7.3.1 Up To Twenty</a></li>
			<li><a href="/lauvinko/bases">7.3.2 Bases</a></li>
			<li><a href="/lauvinko/writing_numerals">7.3.3 Writing Numerals</a></li>
		</ul>
		<li><a href="/lauvinko/kinship">7.4 Kinship</a></li>
		<li><a href="/lauvinko/naming">7.5 Naming</a></li>
		<ul>
			<li><a href="/lauvinko/name_order">7.5.1 Name Order</a></li>
			<li><a href="/lauvinko/family_names">7.5.2 Family Names</a></li>
			<li><a href="/lauvinko/given_names">7.5.3 Given Names</a></li>
			<li><a href="/lauvinko/clan_names">7.5.4 Clan Names</a></li>
			<li><a href="/lauvinko/style_names">7.5.5 Style Names</a></li>
		</ul>
	</ul>
	<li><a href="/lauvinko/kasanic_family">8 Diachronics and Dialectology</a></li>
	<ul>
		<li><a href="/lauvinko/related_languages">8.1 Related Languages</a></li>
		<ul>
			<li><a href="/lauvinko/proto">8.1.1 Reconstructed Proto-Kasanic</a></li>
			<li><a href="/lauvinko/old_lauvinko">8.1.2 Old Lauvìnko</a></li>
			<li><a href="/lauvinko/diachronic_development">8.1.3 Diachronic Development</a></li>
			<li><a href="/lauvinko/botharu">8.1.4 Botharu</a></li>
		</ul>
		<li><a href="/lauvinko/dialects">8.2 Dialects</a></li>
		<ul>
			<li><a href="/lauvinko/accent_isoglosses">8.2.1 Accent Isoglosses</a></li>
			<li><a href="/lauvinko/semantic_differences">8.2.2 Semantic Differences</a></li>
		</ul>
	</ul>
	<li><a href="/lauvinko/lessons">9 Lessons</a></li>
	<ul>
		<li><a href="/lauvinko/class_words">9.1 Class Words</a></li>
		<ul>
			<li><a href="/lauvinko/readings1">9.1.1 Readings</a></li>
			<li><a href="/lauvinko/vocab1">9.1.2 Vocabulary</a></li>
			<li><a href="/lauvinko/notes1">9.1.3 Grammar and Usage Notes</a></li>
		</ul>
		<li><a href="/lauvinko/dative_and_partitive_cases">9.2 Dative And Partitive Cases</a></li>
		<ul>
			<li><a href="/lauvinko/readings2">9.2.1 Readings</a></li>
			<li><a href="/lauvinko/vocab2">9.2.2 Vocabulary</a></li>
			<li><a href="/lauvinko/notes2">9.2.3 Grammar and Usage Notes</a></li>
		</ul>
		<li><a href="/lauvinko/positionals">9.3 Positionals</a></li>
		<ul>
			<li><a href="/lauvinko/readings3">9.3.1 Readings</a></li>
			<li><a href="/lauvinko/vocab3">9.3.2 Vocabulary</a></li>
			<li><a href="/lauvinko/notes3">9.3.3 Grammar and Usage Notes</a></li>
		</ul>
	</ul>
	<li><a href="/lauvinko/primary_sources">10 Primary Sources</a></li>
	<ul>
		<li><a href="/lauvinko/north_wind">10.1 The North Wind and the Sun</a></li>
		<li><a href="/lauvinko/bhagavad_gita">10.2 Bhagavad Gita</a></li>
	</ul>
	<li><a href="/lauvinko/dictionary">11 Dictionary</a></li>
	<ul>
		<li><a href="/lauvinko/kasanic_dictionary">11.1 Kasanic Root Dictionary</a></li>
		<li><a href="/lauvinko/loanword_dictionary">11.2 Loanword Dictionary</a></li>
		<li><a href="/lauvinko/ideophones">11.3 Ideophones</a></li>
		<li><a href="/lauvinko/phrasebook">11.4 Phrasebook</a></li>
	</ul>
</ul>
</div>
{% endblock %}